/* modal style start */
.Custom-modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.26);
  &.Custom-modal-anim-enter {
    opacity: 0;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
  }
}

.Custom-modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
  & > * {
    &:first-child {
      margin-top: 16px;
    }
    margin-left: 16px;
    margin-right: 16px;
  }
  p.title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px
  }
  .content-with-title {
    border-top: 1px solid #ffa94d;
  }

  .content-without-title {
    margin: 30px 0px;
  }
  .content,
  .content-with-title,
  .content-without-title {
    p {
      padding: 8px 0px;
      font-size: 14px;
      text-align: center;
    }
    p:first-child {
      margin-top: 1rem;
    }
  }

  .button-wrap {
    margin: 8px 0 0 0;
    button {
      padding: 12px 0;
      font-size: 14px;
      color: white;
      border: 0;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    button.primary {
      background-color: #ffa94d;
    }
    button.primary:hover,
    button.primary:active {
      background-color: #ffc078;
    }
    button.secondary {
      background-color: #85a4b3;
    }
    button.secondary:hover,
    button.secondary:active {
      background-color: #b6c6ce;
    }
    button.green {
      background-color: #37b24d;
    }
    button.green:hover,
    button.green:active {
      background-color: #40c057;
    }
    button.alert-type {
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    button.form-type {
      width: 50%;
    }
    button.form-type.left-btn {
      border-radius: 0 0 0 10px;
    }
    button.form-type.right-btn {
      border-radius: 0 0 10px 0;
    }
  }
  &.Custom-modal-anim-enter {
    opacity: 0;
    //transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.2s;
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
    //transform: translate(-50%, -50%) scale(1);
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    //transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s;
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
    //transform: translate(-50%, -50%) scale(0.7);
  }
}

.child-overlay {
  background-color: rgba(0, 0, 0, 0);
}
/* modal style end */