/* modal style start */
.Custom-modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.26);
  &.Custom-modal-anim-enter {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
  }
}

.Custom-modal {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  & > * {
    &:first-child {
      margin-top: 16px;
    }
    margin-left: 16px;
    margin-right: 16px;
  }
  &.auto-plan-calendar-modal {
    width: 300px;
  }
  &.auto-plan-calendar-modal .content-with-title,
  &.auto-plan-alert-modal .content-with-title,
  &.auto-plan-confirm-modal .content-with-title {
    border-top: 1px solid rgb(92, 124, 250);
  }
  &.auto-plan-calendar-modal .button-wrap {
    margin: 0;
  }
  p.title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px
  }
  p.title.font-lg {
    font-size: 19px;
  }
  .Custom-ratio label {
    height: 130px !important;
  }
  .auto-plan-calendar-modal {
    display: flex;
    justify-content: center;
  }
  .auto-plan-calendar-modal .form-group {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .fa-angle-left::before {
    font-style: normal;
    content: "\25c0";
    color: rgb(92, 124, 250);
    cursor: pointer;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .fa-angle-right::before {
    font-style: normal;
    content: "\25b6";
    color: rgb(92, 124, 250);
    cursor: pointer;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .datepicker-item {
    width: 100%;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .datepicker-item:first-child {
    margin-right: 10px;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .datepicker-item label {
    font-size: 14px;
    font-weight: 300;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .datetime-picker {
    border: none;
    font-size: 12px;
    width: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar .calendar-nav .current-date,
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar .calendar-nav button,
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar table tbody tr td {
    transition: all 0.2s;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar .calendar-nav .current-date:hover,
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar .calendar-nav button:hover,
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar table tbody tr td:hover {
    background-color: rgb(230, 230, 230);
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar table tbody tr td.selected {
    background-color: rgb(92, 124, 250);
    color: white !important;
    font-weight: 400;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar table tbody tr td.selected:hover {
    background-color: rgba(92, 124, 250, 0.7);
    color: white;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .calendar table tbody tr td.now {
    color: rgb(92, 124, 250);
    font-weight: 400;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .time .show-time {
    font-size: 14px;
    margin: 0 10px;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .time .sliders .slider .thumb:focus,
  .auto-plan-calendar-modal .form-group .datetime-picker .time .sliders .slider .thumb:active {
    background-color: rgb(92, 124, 250);
    border-color: rgb(92, 124, 250);
  }
  .auto-plan-optionlist-form-group .datetime-picker .time .sliders {
    flex: 0 1 100%;
  }
  .auto-plan-calendar-modal .form-group .datetime-picker .time .sliders .slider .thumb {
    top: 3px;
  }

  .content-with-title {
    border-top: 1px solid #ffa94d;
    &.user-modal {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    .password-input-area:first-child {
      margin-top: 1em;
    }
    .password-input-area:last-child {
      margin-bottom: 1.5em;
    }
    .password-input-area:not(:first-child):not(:last-child) {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .password-input-area {
      input {
        width: 100%;
        padding: 0.7em;
        border-radius: 5px;
        border: none;
        background-color: rgba(155, 183, 222, 0.4);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        font-size: 14px;
        transition: box-shadow 0.1s, transform 0.2s;
      }
      label {
        font-size: 16px;
        position: relative;
        padding-left: 0.7em;
        color: rgba(0, 0, 0, 0.8);
      }
      label::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
        content: " ";
      }
      span.error {
        font-size:12px;
        color: rgba(197, 48, 48, 0.8);
        font-weight: bold;
      }
    }
    .password-input-area:hover > input {
      transform: translateY(-3px);
      box-shadow: 0 0 0 0.2em rgba(155, 183, 222, 0.7);
    }
    .genre-name-input-area {
      margin-top: 1em;
      margin-bottom: 1em;
      input {
        font-size: 14px;
      }
      input:hover,
      input:focus{
        border-color: rgb(255, 169, 77);
        box-shadow: 0 0 0 0.2em rgba(255, 169, 77, 0.5);
      }
      span.error {
        font-size:12px;
        color: rgba(197, 48, 48, 0.8);
        font-weight: bold;
      }
    }
  }

  .content-without-title {
    margin: 30px 0;
  }
  .content,
  .content-with-title,
  .content-without-title {
    p {
      padding: 8px 0;
      font-size: 14px;
      text-align: center;
    }
    p:first-child {
      margin-top: 1rem;
    }
    p.no-margin-no-padding {
      margin: 0;
      padding: 0;
    }
  }

  .button-wrap {
    margin: 8px 0 0 0;
    &.no-margin {
      margin: 0;
    }
    button {
      padding: 12px 0;
      font-size: 14px;
      color: white;
      border: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    button.primary {
      background-color: #ffa94d;
    }
    button.primary:hover,
    button.primary:active {
      background-color: #ffc078;
    }
    button.secondary {
      background-color: #85a4b3;
    }
    button.secondary:hover,
    button.secondary:active {
      background-color: #b6c6ce;
    }
    button.green {
      background-color: #37b24d;
    }
    button.green:hover,
    button.green:active {
      background-color: #40c057;
    }
    button.auto-plan {
      background-color: rgb(92, 124, 250);
    }
    button.auto-plan:hover,
    button.auto-plan:active {
      background-color: rgba(92, 124, 250, 0.7);
    }
    button.gray {
      background-color: rgba(0,0,0,0.8);
    }
    button.gray:hover,
    button.gray:active {
      background-color: rgba(0,0,0,0.5);
    }
    button.administrator {
      background-color: rgb(23, 162, 184);
    }
    button.administrator:hover,
    button.administrator:active {
      background-color: rgba(23, 162, 184, 0.5);
    }
    button.alert-type {
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    button.form-type {
      width: 50%;
    }
    button.form-type.left-btn {
      border-radius: 0 0 0 10px;
    }
    button.form-type.right-btn {
      border-radius: 0 0 10px 0;
    }
  }
  &.Custom-modal-anim-enter {
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    /* -webkit-transform: translate(-50%, -50%) scale(0.7); */
    /* transform: translate(-50%, -50%) scale(0.7); */
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
    /* -webkit-transform: translate(-50%, -50%) scale(1); */
    /* transform: translate(-50%, -50%) scale(1); */
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.child-overlay {
  background-color: rgba(0, 0, 0, 0);
}
/* modal style end */
