/* modal style start */
.Custom-modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.26);
  &.Custom-modal-anim-enter {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
  }
}

.Custom-modal {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  & > * {
    &:first-child {
      margin-top: 16px;
    }
    margin-left: 16px;
    margin-right: 16px;
  }
  &.auto-plan-calendar-modal {
    width: 300px;
    & > .content-with-title {
      display: flex;
      justify-content: center;
      & > .form-group {
        margin-top: 1rem;
        margin-bottom: 1rem !important;
        & > .datetime-picker {
          transition: all 0.2s;
          .fa-angle-left::before,
          .fa-angle-right::before {
            font-style: normal;
            color: rgb(92, 124, 250);
            cursor: pointer;
          }
          .fa-angle-left::before {
            content: "\25c0";
          }
          .fa-angle-right::before {
            content: "\25b6";
          }
          .calendar {
            .calendar-nav .current-date:hover,
            .calendar-nav button:hover,
            table tbody tr td:hover {
              background-color: rgb(230, 230, 230);
            }
            table tbody tr td {
              &.selected {
                background-color: rgb(92, 124, 250);
                color: white !important;
                font-weight: 400;
                &:hover {
                  background-color: rgba(92, 124, 250, 0.7);
                  color: white;
                }
              }
              &.now {
                color: rgb(92, 124, 250);
                font-weight: 400;
              }
            }
          }
          .time {
            & > .show-time {
              font-size: 14px;
              margin: 0 10px;
            }
            & > .sliders {
              flex: 0 1 100%;
              & > .slider .thumb {
                top: 3px;
                &:focus,
                &:active {
                  background-color: rgb(92, 124, 250);
                  border-color: rgb(92, 124, 250);
                }
              }
            }
          }
        }
      }
    }
    & > .button-wrap {
      margin: 0;
    }
  }
  &.auto-plan-alert-modal.execute-command-list,
  &.auto-plan-confirm-modal.command {
    width: 1000px;
  }
  &.auto-plan-calendar-modal,
  &.auto-plan-alert-modal,
  &.auto-plan-confirm-modal {
    & > .content-with-title {
      border-top: 1px solid rgb(92, 124, 250);
    }
  }
  p.title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
    &.font-lg {
      font-size: 20px;
    }
  }
  .Custom-ratio label {
    height: 130px !important;
  }
  .content-with-title {
    border-top: 1px solid #ffa94d;
    &.user-modal,
    &.add-plan-modal {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    &.add-plan-modal {
      & > .plan-btn-area {
        margin-top: 1rem;
        margin-bottom: 1rem;
        & > .btn-outline-info {
          color: rgba(0, 0, 0, 0.8);
          border-color: rgba(0, 0, 0, 0.8);
          &:hover,
          &:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.8);
            border-color: rgba(0, 0, 0, 0.8);
          }
          &:focus,
          &:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    &.user-modal {
      & > .password-input-area {
        &:first-child {
          margin-top: 1rem;
        }
        &:last-child {
          margin-bottom: 1.5rem;
        }
        &:not(:first-child):not(:last-child) {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        & > input {
          width: 100%;
          padding: 0.7rem;
          border-radius: 5px;
          border: none;
          background-color: rgba(155, 183, 222, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          font-size: 14px;
          transition: transform 0.2s;
        }
        & > label {
          font-size: 14px;
          position: relative;
          padding-left: 0.7rem;
          color: rgba(0, 0, 0, 0.8);
          &::before {
            position: absolute;
            top: 8px;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 3px;
            content: " ";
          }
        }
        &:hover > input {
          transform: translateY(-3px);
          box-shadow: 0 0 0 0.15rem rgba(155, 183, 222, 0.7);
        }
      }
    }
    .genre-name-input-area {
      margin-top: 1rem;
      margin-bottom: 1rem;
      & > input[type="text"] {
        font-size: 14px;
        &:hover,
        &:focus {
          border-color: rgb(255, 169, 77);
          box-shadow: 0 0 0 0.1rem rgba(255, 169, 77, 0.5);
        }
      }
    }
    & > .command-input-modal {
      &.hidden {
        display: none;
      }
      & > label {
        margin-top: .5rem;
        position: relative;
        padding-left: .7rem;
        &::before {
          position: absolute;
          top: 8px;
          left: 0;
          width: 6px;
          height: 6px;
          background-color: rgb(92, 124, 250);
          border-radius: 3px;
          content: " ";
        }
        &.manual::before{
          background-color: rgb(255, 169, 77);
        }
      }
      & > input[type="text"] {
        font-size: 14px;
        &:focus,
        &:hover {
          border-color: rgb(92, 124, 250);
          box-shadow: 0 0 0 0.1rem rgba(92, 124, 250, 0.5);
        }
        &.manual:focus,
        &.manual:hover {
          border-color: rgb(255, 169, 77);
          box-shadow: 0 0 0 0.1rem rgba(255, 169, 77, 0.5);
        }
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
  .content-without-title {
    margin: 30px 0;
  }
  .content,
  .content-with-title,
  .content-without-title {
    p {
      padding: 8px 0;
      font-size: 14px;
      text-align: center;
      &:first-child {
        margin-top: 1rem;
      }
      &.no-margin-no-padding {
        margin: 0;
        padding: 0;
      }
    }
  }

  .button-wrap {
    margin: 8px 0 0 0;
    &.no-margin {
      margin: 0;
    }
    & > button {
      padding: 12px 0;
      font-size: 14px;
      color: white;
      border: 1px solid transparent;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.primary {
        border-color: #ffa94d;
        background-color: #ffa94d;
        &:hover,
        &:active {
          border-color: #ffc078;
          background-color: #ffc078;
        }
      }
      &.secondary {
        border-color: #85a4b3;
        background-color: #85a4b3;
        &:hover,
        &:active {
          border-color: #b6c6ce;
          background-color: #b6c6ce;
        }
      }
      &.green {
        border-color: #37b24d;
        background-color: #37b24d;
        &:hover,
        &:active {
          border-color: #40c057;
          background-color: #40c057;
        }
      }
      &.auto-plan {
        border-color: rgb(92, 124, 250);
        background-color: rgb(92, 124, 250);
        &:hover,
        &:active {
          border-color: rgba(92, 124, 250, 0.2);
          background-color: rgba(92, 124, 250, 0.7);
        }
      }
      &.gray {
        border-color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0.8);
        &:hover,
        &:active {
          border-color: rgba(0,0,0,0.1);
          background-color: rgba(0,0,0,0.5);
        }
      }
      &.administrator {
        border-color: rgb(23, 162, 184);
        background-color: rgb(23, 162, 184);
        &:hover,
        &:active {
          border-color: rgba(23, 162, 184, 0.3);
          background-color: rgba(23, 162, 184, 0.5);
        }
      }
      &.alert-type {
        width: 100%;
        border-radius: 0 0 10px 10px;
      }
      &.form-type {
        width: 50%;
        &.left-btn {
          border-radius: 0 0 0 10px;
        }
        &.right-btn {
          border-radius: 0 0 10px 0;
        }
      }
    }
  }
  &.Custom-modal-anim-enter {
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    /* -webkit-transform: translate(-50%, -50%) scale(0.7); */
    /* transform: translate(-50%, -50%) scale(0.7); */
  }
  &.Custom-modal-anim-enter.Custom-modal-anim-enter-active {
    opacity: 1;
    /* -webkit-transform: translate(-50%, -50%) scale(1); */
    /* transform: translate(-50%, -50%) scale(1); */
  }
  &.Custom-modal-anim-leave {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  &.Custom-modal-anim-leave.Custom-modal-anim-leave-active {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.child-overlay {
  background-color: rgba(0, 0, 0, 0);
}
/* modal style end */
